<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        font-family: 'Arial';
      }

      ul{
        list-style: none;
      }
      ul li{
        padding: 5px;
      }
    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      
      var image = {};

      $(function(){
        $("#attachment").change(function(event){
          $.each(event.target.files, function(index, file) {
            var reader = new FileReader();
            reader.onload = function (event) {  
              image.filename = file.name;
              image.data = event.target.result;
            };  
            reader.readAsDataURL(file);
          });
        });

        $("#ajax-attachment-upload-form").submit(function(form){
          $.ajax({url: "/ajax-upload",
                  type: 'POST',
                  data: {filename: image.filename, data: image.data},
                  success: function(path, status, xhr){
                    var file_parts = path.split(".")
                    var extension = file_parts[file_parts.length - 1]
                    if(["jpg", "png", "gif"].indexOf(extension.toLowerCase()) >= 0){
                      $("#file-listing").append("<li><img src='" + path + "' /></li>")
                    } else {
                      $("#file-listing").append("<li><a href='" + path + "' target='_blank'>" + path + "</a></li>")
                    }
                  }
                });
          form.preventDefault();
        });

      });
    </script>
  </head>
  <body>
    <h1>HTML5 Ajax File Attachment Upload Demo</h1>
    
    <form action="/ajax-upload" id="ajax-attachment-upload-form">
      <input type="file" name="attachment" id="attachment" /> 
      <input type="submit" value="Upload" />
    </form>

    <ul id="file-listing">
    </ul>
  </body>
</html>
