<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <h1>HTML5 Ajax File Attachment Upload Demo</h1>
    
    <form action="/ajax-upload" id="ajax-attachment-upload-form">
      <input type="file" name="attachment" id="attachment" multiple /> 
      <input type="submit" value="Upload" />
    </form>

    <ul id="file-listing"></ul>
  </body>
</html>
